---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getSinglePage } from "@/utils/libs/getSinglePage";

const posts = (await getSinglePage("postsBB")).sort(
  (a, b) => a.data.id - b.data.id,
);
---

<BaseLayout title="" description="">
  {posts.map((post) => <a href={`/bigbook/${post.slug}`}>{post.data.title}</a>)}
</BaseLayout>
