---
import BaseLayout from "@/layouts/BaseLayout.astro";

const links = [
  {
    name: "📘 Джо и Чарли: изучение БКАА: Предисловие",
    href: "/bigbook/seminar/preface",
    materials: "11",
  },
  {
    name: "📘 Джо и Чарли: изучение БКАА: Мнение доктора",
    href: "/bigbook/seminar/doctors-opinion",
    materials: "8",
  },
  {
    name: "📘 Джо и Чарли: изучение БКАА: Рассказ Билла",
    href: "/bigbook/seminar/bills-story",
    materials: "10",
  },
  {
    name: "📘 Джо и Чарли: изучение БКАА: Выход есть",
    href: "/bigbook/seminar/there-is-a-solution",
    materials: "9",
  },
  {
    name: "📘 Джо и Чарли: изучение БКАА: Ещё об алкоголизме",
    href: "/bigbook/seminar/more-about-alcoholism",
    materials: "6",
  },
  {
    name: "📘 Джо и Чарли: изучение БКАА: Обращение к агностикам",
    href: "/bigbook/seminar/addressing-agnostics",
    materials: "7",
  },
  {
    name: "📘 Джо и Чарли: изучение БКАА: Как это работает?",
    href: "/bigbook/seminar/how-does-it-work",
    materials: "26",
  },
  {
    name: "📘 Джо и Чарли: изучение БКАА: В действии!",
    href: "/bigbook/seminar/in-action",
    materials: "21",
  },
  {
    name: "📘 Джо и Чарли: изучение БКАА: Работая с другими",
    href: "/bigbook/seminar/working-with-others",
    materials: "4",
  },
];

import Breadcrumbs from "@/components/Customs/Breadcrumbs.astro";
import ButtonLink from "@/components/Customs/ButtonLink.astro";
import { Icon } from "astro-icon/components";

const customCrumbs = [
  {
    text: "Главная",
    href: "/",
  },
  {
    text: "Семинары, проекты",
    href: "/others",
  },
  {
    text: "Семинар Джо и Чарли",
    href: "/bigbook/seminar/",
  },
];
---

<BaseLayout
  title="Джо и Чарли: изучение БКАА"
  description="На сегодняшний день, материалы Джо и Чарли являются самыми известными и используемыми в мире материалами по Большой книге. Эти два алкоголика объездили со своими занятиями по изучению Большой книги все 50 штатов США и многие страны мира, где есть АА."
  blurClass={{
    topLeft: "dark:bg-blue-300",
    topRight: "dark:bg-sky-300",
    bottomRight: "dark:bg-gray-500",
    bottomLeft: "dark:bg-slate-500",
  }}
>
  <Breadcrumbs crumbs={customCrumbs}>
    <Icon name="mdi:chevron-right" slot="separator" />
  </Breadcrumbs>

  <nav class="flex flex-col gap-6">
    {
      links.map((item) => (
        <ButtonLink link={item.href} class="">
          {item.name} ({item.materials})
        </ButtonLink>
      ))
    }
  </nav>
</BaseLayout>
