---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Image } from "astro:assets";

const links = [
  { name: "Предисловие", href: "/bigbook/seminar/preface" },
  { name: "Мнение доктора", href: "/bigbook/seminar/doctors-opinion" },
  { name: "Рассказ Билла", href: "/bigbook/seminar/bills-story" },
  { name: "Выход есть", href: "/bigbook/seminar/there-is-a-solution" },
  {
    name: "Ещё об алкоголизме",
    href: "/bigbook/seminar/more-about-alcoholism",
  },
  {
    name: "Обращение к агностикам",
    href: "/bigbook/seminar/addressing-agnostics",
  },
  { name: "Как это работает?", href: "/bigbook/seminar/how-does-it-work" },
  { name: "В действии!", href: "/bigbook/seminar/in-action" },
  { name: "Работая с другими", href: "/bigbook/seminar/working-with-others" },
];

import bigboookImg from "@/assets/bigbook.png";
import ButtonLink from "@/components/Customs/ButtonLink.astro";
---

<BaseLayout container_max_w="max-w-6xl" title="" description="">
  <main class="flex flex-col gap-12 lg:flex-row">
    <Image
      src={bigboookImg}
      class="overflow-hidden rounded-2xl"
      alt="Джо и Чарли: изучение БКАА"
      format="avif"
      quality={"mid"}
    />
    <div class="flex shrink-0 flex-wrap gap-3 lg:flex-col">
      {
        links.map((item) => (
          <ButtonLink
            link={item.href}
            class=" self-start ring-1 ring-inset ring-white/20 transition-colors duration-75 ease-linear hover:bg-white/20"
          >
            {item.name}
          </ButtonLink>
        ))
      }
    </div>
  </main>
</BaseLayout>
