---
const { heading } = Astro.props;

type Heading = {
  depth: number;
  text: string;
  slug: string;
  subheadings: Heading[];
};

export interface Props {
  heading: Heading;
}
---

<li class="flex flex-col gap-3 self-start">
  <a
    href={"#" + heading.slug}
    class:list={`rounded-xl bg-zinc-900 text-white px-3 py-1.5`}
  >
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class="flex flex-col gap-3 self-start pl-4">
        {heading.subheadings.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
