---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

interface Props extends HTMLAttributes<"a"> {
  link: string;
}

const { link, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = link === pathname || link === pathname.replace(/\/$/, "");
---

<a
  href={link}
  class={twMerge(
    "hover:bg-white/20 transition-colors ease-linear duration-75 rounded-md px-3.5 py-1.5 text-white",
    isActive ? "bg-gradient-to-tr from-zinc-600 to-zinc-700 text-white" : "",
    className,
  )}
  {...props}
>
  <slot />
</a>
