---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

interface Props extends HTMLAttributes<"a"> {
  link: string;
}

const { link, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = link === pathname || link === pathname.replace(/\/$/, "");
---

<a
  href={link}
  class={twMerge(
    "font-medium",
    isActive ? " dark:text-zinc-400 text-zinc-500 font-normal" : "",
    className,
  )}
  {...props}
>
  <slot />
</a>
