@import url("./bg-post.css");
@import url("./pill-tag.css");
/* @import url("./base.css"); */

/* Отступ для якоря */
:target:before {
  content: "";
  display: block;
  height: 60px; /* Высота отступа, которую вы хотите добавить */
  margin: -60px 0 0; /* Обратный отрицательный отступ, чтобы сместить якорь вверх */
}

.bg-center-gradient {
  background-image: radial-gradient(
    76.33% 76.59% at 50.15% 6.06%,
    #1a1a1a 0,
    rgba(26, 26, 26, 0.38) 100%
  );
}

