@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("./prose.css"); */

/* Отступ для якоря */
:target:before {
  content: "";
  display: block;
  height: 60px; /* Высота отступа, которую вы хотите добавить */
  margin: -60px 0 0; /* Обратный отрицательный отступ, чтобы сместить якорь вверх */
}

.bg-center-gradient {
  background-image: radial-gradient(
    76.33% 76.59% at 50.15% 6.06%,
    #1a1a1a 0,
    rgba(26, 26, 26, 0.38) 100%
  );
}

.bg-post-1 {
  background-color: rgb(147, 51, 234);
  background-image: radial-gradient(
      at 21% 25%,
      rgb(103, 232, 249) 0,
      transparent 45%
    ),
    radial-gradient(at 60% 63%, rgb(187, 247, 208) 0, transparent 82%),
    radial-gradient(at 78% 71%, rgb(29, 78, 216) 0, transparent 1%),
    radial-gradient(at 37% 45%, rgb(253, 230, 138) 0, transparent 36%),
    radial-gradient(at 93% 94%, rgb(38, 38, 38) 0, transparent 88%),
    radial-gradient(at 4% 2%, rgb(209, 213, 219) 0, transparent 13%);
}
.bg-post-2 {
  background-color: rgb(194, 65, 12);
  background-image: radial-gradient(
      at 56% 63%,
      rgb(192, 132, 252) 0,
      transparent 90%
    ),
    radial-gradient(at 46% 93%, rgb(125, 211, 252) 0, transparent 96%),
    radial-gradient(at 95% 25%, rgb(217, 249, 157) 0, transparent 63%),
    radial-gradient(at 26% 16%, rgb(30, 58, 138) 0, transparent 100%),
    radial-gradient(at 39% 10%, rgb(8, 145, 178) 0, transparent 79%),
    radial-gradient(at 53% 19%, rgb(74, 222, 128) 0, transparent 60%);
}
.bg-post-3 {
  background-color: rgb(126, 34, 206);
  background-image: radial-gradient(
      at 73% 65%,
      rgb(134, 25, 143) 0,
      transparent 97%
    ),
    radial-gradient(at 47% 78%, rgb(23, 23, 23) 0, transparent 82%),
    radial-gradient(at 54% 63%, rgb(202, 138, 4) 0, transparent 16%),
    radial-gradient(at 29% 64%, rgb(243, 244, 246) 0, transparent 85%),
    radial-gradient(at 6% 42%, rgb(254, 202, 202) 0, transparent 65%),
    radial-gradient(at 61% 54%, rgb(254, 249, 195) 0, transparent 44%);
}
.bg-post-4 {
  background-color: rgb(236, 252, 203);
  background-image: radial-gradient(
      at 44% 42%,
      rgb(125, 211, 252) 0,
      transparent 16%
    ),
    radial-gradient(at 96% 20%, rgb(204, 251, 241) 0, transparent 89%),
    radial-gradient(at 91% 41%, rgb(34, 197, 94) 0, transparent 68%),
    radial-gradient(at 30% 74%, rgb(217, 70, 239) 0, transparent 61%),
    radial-gradient(at 93% 98%, rgb(5, 150, 105) 0, transparent 49%),
    radial-gradient(at 31% 100%, rgb(124, 45, 18) 0, transparent 9%);
}
.bg-post-5 {
  background-color: rgb(29, 78, 216);
  background-image: radial-gradient(
      at 12% 43%,
      rgb(14, 165, 233) 0,
      transparent 98%
    ),
    radial-gradient(at 68% 100%, rgb(254, 226, 226) 0, transparent 63%),
    radial-gradient(at 15% 64%, rgb(250, 232, 255) 0, transparent 42%),
    radial-gradient(at 96% 27%, rgb(131, 24, 67) 0, transparent 35%),
    radial-gradient(at 71% 91%, rgb(209, 250, 229) 0, transparent 97%),
    radial-gradient(at 80% 19%, rgb(204, 251, 241) 0, transparent 76%);
}

.bg-post-6 {
  background-color: rgb(91, 33, 182);
  background-image: radial-gradient(
      at 45% 88%,
      rgb(168, 162, 158) 0,
      transparent 18%
    ),
    radial-gradient(at 73% 44%, rgb(219, 234, 254) 0, transparent 67%),
    radial-gradient(at 97% 15%, rgb(30, 41, 59) 0, transparent 16%),
    radial-gradient(at 44% 70%, rgb(221, 214, 254) 0, transparent 92%),
    radial-gradient(at 30% 3%, rgb(7, 89, 133) 0, transparent 41%),
    radial-gradient(at 71% 78%, rgb(161, 98, 7) 0, transparent 70%);
}
