---
import PostCard from "@/components/PostCard.astro";
import Search from "@/components/Search";
import TagsNav from "@/components/TagsNav.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { customSlugify } from "@/utils/libs/customSlugify";
import { getSinglePage } from "@/utils/libs/getSinglePage";


export async function getStaticPaths() {
  const allPosts = await getSinglePage("posts");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag),
    );
    return {
      params: { tag: customSlugify(tag) },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout
  container_max_w="max-w-6xl"
  title={`Постов по тегу: (${posts.length})`}
>
  <TagsNav />
  <Search
    client:load
    classNameMainDiv="max-w-full"
    classNameIcon="ring-1 ring-inset bg-zinc-800 ring-white/20"
    classNameSearch="ring-1 ring-inset ring-white/20"
    postsList={posts}
  />
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
    {posts.map((item: any) => <PostCard slug={item.slug} data={item.data} />)}
  </div>
</BaseLayout>
