---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
  title="Ошибка 404 - страница не найдена."
  description="Страница не найдена.."
>
  <main class="flex flex-col gap-6">
    <h1 class="text-center text-4xl">Ошибка 404 - страница не найдена</h1>
    <div class="flex justify-center gap-3">
      <a href="/" class="text-lg text-blue-500 underline">Главная</a>
      <a href="/posts" class="text-lg text-blue-500 underline">Посты</a>
    </div>
  </main>
</BaseLayout>
