---
import Search from "@/components/Search";
import { DEFAULT_TITLE } from "@/config/settings";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getSinglePage } from "@/utils/libs/getSinglePage";

const posts = await getSinglePage("posts");

export const prerender = false;
---

<BaseLayout
  title="12 шагов - находки"
  description={`${DEFAULT_TITLE}. Более (${posts.length}) постов по 12 шагам`}
  container_max_w="max-w-4xl"
  blurClass={{
    topLeft: "dark:bg-zinc-900",
    topRight: "dark:bg-slate-900",
    bottomRight: "dark:bg-gray-900",
    bottomLeft: "dark:bg-stone-900",
  }}
>
  <main class="self-center py-12 md:py-32">
    <h1 class="mb-6 text-center text-6xl font-black sm:text-7xl">
      12 шагов находки
    </h1>
    <Search client:load postsList={posts} />
  </main>
</BaseLayout>
