---
import DecorationBlobBlur from "@/components/DecorationBlobBlur.astro";
import NavMenu from "@/components/NavMenu.astro";
import MainHeading from "@/components/partials/MainHeading.astro";
import { DEFAULT_TITLE } from "@/config/settings";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getSinglePage } from "@/utils/libs/getSinglePage";

const posts = await getSinglePage("posts");
---

<BaseLayout
  title="12 шагов - находки"
  description={`${DEFAULT_TITLE}. Более (${posts.length}) постов по 12 шагам`}
  container_max_w="max-w-6xl"
>
  <DecorationBlobBlur />
  <MainHeading />
  <NavMenu />
  <section></section>
  <!--   
  <ListPosts posts={posts} /> -->
</BaseLayout>
