---
import YB from "@/components/icons/YBIcon.astro"
import BaseLayout from "@/layouts/BaseLayout.astro"
import { YouTube } from "@astro-community/astro-embed-youtube"

import Button from '@/components/Customs/Button.astro'
import { videosTraditionsLinks } from "@/data/videosTraditionsLinks"

---

<BaseLayout
  title="12 Традиций видео спикерские"
  description="12 Традиций: видео изучение и познания, спикерские от членов соодружества"
>
  <div class="flex flex-wrap items-center justify-between gap-4">
    <div class="flex flex-wrap items-center gap-2">
      <Button link='/'>
      🏠 Главная
      </Button>
      <Button link='/posts'>
       📁 Посты
      </Button>
      <Button link='https://t.me/fb_steps_bot' className='text-red-500'>
        <YB /><span>Прислать видео</span>
      </Button>

    </div>
    <div>
      <h4 class="text-3xl font-bold">
        Видео по 12 Традициям ({videosTraditionsLinks.length})
      </h4>
      <p class="text-right text-gray-400">Видео от канала Надя П.</p>
    </div>
  </div>
  <main class="grid gap-6 md:grid-cols-2">
    {videosTraditionsLinks.map((item) => <YouTube id={item.id} />)}
  </main>
</BaseLayout>
