---
import { DEFAULT_TITLE } from "@/config/settings";
import { version } from "../../../version.json";
const versionSet = version;
---

<section class="md:pt-15 relative z-10 bg-black pb-12 pt-7 md:pb-20">
  <div
    class="container mx-auto flex max-w-5xl flex-wrap items-center gap-6 px-5"
  >
    <div class="mx-auto flex flex-col items-center justify-center gap-2">
      <h1
        class="mb-2 flex flex-wrap items-center justify-center gap-2 text-center text-3xl font-bold sm:text-4xl md:text-5xl"
      >
        {DEFAULT_TITLE}
      </h1>
      <p
        class="max-w-[420px] text-center text-lg leading-relaxed text-gray-300"
      >
        <b>12 шагов:</b> материалы, статьи, публикации, опыт и многое другое.
      </p>
    </div>
  </div>
</section>
