---
import Logo from "../Logo.astro";
const { container_max_w } = Astro.props;
---

<header class="relative z-10 py-4">
  <div
    class:list={`${
      container_max_w ?? "max-w-6xl"
    } container mx-auto flex items-center justify-between px-5`}
  >
    <div class="flex items-center gap-1">
      <a href="/" aria-label="Логотип">
        <Logo />
      </a>
    </div>
  </div>
</header>
