---
import { DEFAULT_TITLE } from "@/config/settings";
---

<section class="relative z-10 flex items-center justify-center">
  <div
    class="container mx-auto flex max-w-5xl flex-col flex-wrap items-center justify-center gap-2 px-5"
  >
    <h1
      class="mb-2 flex flex-wrap items-center justify-center gap-2 text-center text-5xl font-bold md:text-6xl"
    >
      {DEFAULT_TITLE}
    </h1>
    <p class="text-center text-base leading-relaxed text-gray-200 md:text-xl">
      Материалы, посты, статьи, публикации, опыт и многое другое.
    </p>
  </div>
</section>
