---
import InfoMaterials from "./InfoMaterials.astro";
import Projects from "./Projects.astro";

// const p = [
//   {'Мы верим в лучший и духовно развитый мир, но мы не идеальны.',
// 'Материалы, посты, статьи, руководства, опыт, видео и многое другое..'}
// ]
---

<div class="mt-12 flex flex-col items-center gap-12">
  <h1 class="text-5xl font-black xl:text-7xl">12 шагов - находки</h1>
  <p class="text-lg">
    Мы верим в лучший и духовно развитый мир, <b><u>но мы не идеальны.</u></b>
  </p>
  <InfoMaterials />
  <Projects />
</div>
