---
import WriteFB from "./icons/WriteFB.astro";
---

<a
  href="https://t.me/fb_steps_bot"
  class="flex items-center gap-1 rounded-2xl bg-white px-5 py-3 text-black"
  target="_blank"
>
  <WriteFB />
   <span class="hidden md:block">Обратная связь</span>
</a>
