---
import Blob from "./Customs/Blob.astro";
---

<div class="-z-[1]">
  <div class="absolute left-0 top-[245px] blur-[54px] md:left-1/3">
    <Blob />
  </div>
  <div
    class="absolute left-0 top-0 h-full w-full"
    style="background-size: 128px;background-repeat: repeat;background-image: url('/jopa.png');opacity: 0.1;border-radius: 0;"
  >
  </div>
</div>
