---
import { links } from "@/data/links";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import ButtonLink from "./Customs/ButtonLink.astro";

const posts = (await getCollection("posts")).length;
---

<nav
  class="flex items-center justify-center overflow-x-auto"
  aria-label="Навигация по сайту"
>
  <div class="scroll myBg flex max-w-full gap-2 rounded-xl p-2">
    {
      links
        .filter((item) => !item.socialLink)
        .map((item: any) => (
          <ButtonLink link={item.link} class="flex shrink-0 items-center gap-1">
            <Icon name={item.iconName} />
            {item.name}
            {item.postsLength ? ` (${posts})` : null}
          </ButtonLink>
        ))
    }
  </div>
</nav>

<style>
  .scroll {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .scroll::-webkit-scrollbar {
    display: none;
  }
</style>
