---
const { nextPost, prevPost, link } = Astro.props;
---

<div>
  {
    (nextPost || prevPost) && (
      <div class="flex flex-col justify-between gap-6 sm:flex-row">
        {nextPost && (
          <a
            class="line-clamp-2 flex flex-col items-center"
            href={link + nextPost.slug}
          >
            <span class="self-start text-sm text-zinc-500">
              Предыдущий пост
            </span>

            <span class="self-start font-semibold text-blue-500 underline underline-offset-4 transition-colors ease-linear hover:text-blue-400">
              {nextPost.data.title}
            </span>
          </a>
        )}
        {prevPost && (
          <a
            class="line-clamp-2 flex flex-col items-center"
            href={link + prevPost.slug}
          >
            <span class="self-start text-sm text-zinc-500 sm:self-end">
              Следущий пост
            </span>
            <span class="self-start font-semibold text-blue-500 underline underline-offset-4 transition-colors ease-linear hover:text-blue-400 sm:text-right">
              {" "}
              {prevPost.data.title}
            </span>
          </a>
        )}
      </div>
    )
  }
</div>
