---
import { twMerge } from "tailwind-merge";
const { data, slug, index } = Astro.props;

function getPostClassName(index) {
  switch (index) {
    case 1:
      return "bg-post-1";
    case 2:
      return "bg-post-2";
    case 3:
      return "bg-post-3";
    case 4:
      return "bg-post-4";
    case 5:
      return "bg-post-5";
    default:
      return "bg-post-6";
  }
}
---

<a
  href={`/posts/${slug}`}
  role="article"
  class:list={twMerge(
    `group relative row-span-3 min-h-[208px] justify-end overflow-hidden rounded-xl`,
    index === 0 ? "row_span-7" : index === 2 || index === 3 ? "row-span-4" : "",
  )}
>
  <div
    class={`h-full w-full bg-black ${getPostClassName(index)}`}
    style="min-height: 200px;"
  >
  </div>

  <div>
    <div class="absolute bottom-0 z-10 flex
      w-full flex-col gap-3 p-5 bg-black/50 backdrop-blur-md backdrop-brightness-50 rounded-xl">
      <h2
        class="text-xl font-bold leading-tight text-white transition-transform ease-linear group-hover:-translate-y-[2px]"
      >
        {data.title}
      </h2>
      <div
        aria-label="Теги"
        class="flex gap-2 transition-transform ease-linear group-hover:translate-x-[1.10px]"
      >
        {
          data.tags &&
            data.tags.map((tag) => (
              <span class="pill relative rounded-full px-3 py-1 text-xs leading-tight text-white">
                {tag}
              </span>
            ))
        }
      </div>
    </div>
  </div>
</a>

<style>
  .pill:before {
    position: absolute;
    inset: 0;
    content: "";
    margin: -1px;
    border-radius: inherit;
    background: linear-gradient(
      45deg,
      rgb(67, 216, 51) 0%,
      rgb(65, 255, 246) 100%
    );
    z-index: -2;
  }
  .pill:after {
    position: absolute;
    inset: 0;
    background-color: #0d0f1480;
    content: "";
    z-index: -1;
    border-radius: inherit;
  }

  .row_span-7 {
    grid-row: span 7;
  }
</style>
