---
import { customSlugify } from "@/utils/libs/customSlugify";
import { twMerge } from "tailwind-merge";
const { data, slug, index } = Astro.props;

function getPostClassName(index) {
  switch (index) {
    case 1:
      return "bg-post-1";
    case 2:
      return "bg-post-2";
    case 3:
      return "bg-post-3";
    case 4:
      return "bg-post-4";
    case 5:
      return "bg-post-5";
    default:
      return "bg-post-6";
  }
}
---

<a
  href={`/posts/${slug}`}
  role="article"
  class:list={twMerge(
    `group relative row-span-3 min-h-[208px] justify-end overflow-hidden rounded-xl`,
    index === 0 ? "row_span-7" : index === 2 || index === 3 ? "row-span-4" : "",
  )}
>
  <div
    class={`h-full w-full bg-black ${getPostClassName(index)}`}
    style="min-height: 200px;"
  >
  </div>

  <div>
    <div
      class="absolute bottom-0 z-10 flex
      w-full flex-col gap-3 rounded-xl bg-black/50 p-5 backdrop-blur-md backdrop-brightness-50"
    >
      <h2
        class="text-xl font-bold leading-tight text-white transition-transform ease-linear group-hover:-translate-y-[2px]"
      >
        {data.title}
      </h2>
      <div
        aria-label="Теги"
        class="flex gap-2 transition-transform ease-linear group-hover:translate-x-[1.10px]"
      >
        {
          data.tags &&
            data.tags.map((tag) => (
              <span
                class={`pill-${customSlugify(
                  tag,
                )} relative rounded-full px-3 py-1 text-xs leading-tight text-white`}
              >
                {tag}
              </span>
            ))
        }
      </div>
    </div>
  </div>
</a>

<style>
  .row_span-7 {
    grid-row: span 7;
  }
</style>
