---
import PostCard from "./PostCard.astro";
const { posts } = Astro.props;
---

<aside class="flex flex-col gap-6">
  <h2 class="text-3xl font-medium text-gray-300">
    🎩 Похожие посты
  </h2>
  <div class="grid items-start gap-6 md:grid-cols-2">
    {
      posts
        .slice(0, 2)
        .map((post) => <PostCard data={post.data} slug={post.slug} />)
    }
  </div>
</aside>
