---
import RSSIcon from "./icons/RSSIcon.astro";
---

<a
  href="/rss.xml"
  class="flex items-center gap-1 rounded-2xl bg-white px-5 py-3 text-black"
  target="_blank"
>
  <RSSIcon />
   <span class="hidden md:block">Лента</span>
</a>
