---
import TGIcon from "./icons/TGIcon.astro";

const { slug, data } = Astro.props;
---

<aside>
  <a
    href={`https://t.me/share/url?url=${Astro.site}${slug}&text=${data.title}`}
    aria-label="Telegram кнопка поделится"
    class="flex items-center gap-1.5 rounded-full bg-[#54A9EB] px-3 py-1.5 font-medium text-white transition-colors duration-75 ease-linear hover:bg-blue-500"
  >
    <TGIcon />
    <span>поделиться</span>
  </a>
</aside>
