---
import { getTaxonomy } from "@/utils/getTaxonomy";
import { customSlugify } from "@/utils/libs/customSlugify";
import { getSinglePage } from "@/utils/libs/getSinglePage";
import ButtonLink from "./Customs/ButtonLink.astro";

const posts = await getSinglePage("posts");
const tags = await getTaxonomy("posts", "tags");
const tagCounts = {};
posts.forEach((post) => {
  // @ts-ignore
  post.data.tags.forEach((tag) => {
    if (!tagCounts[tag]) {
      tagCounts[tag] = 0;
    }
    tagCounts[tag]++;
  });
});


---

<nav
  class="flex w-full flex-nowrap items-center gap-3 overflow-x-scroll py-3 lg:flex-wrap lg:overflow-hidden lg:py-0"
>
  <ButtonLink link="/posts" class="whitespace-nowrap">Все посты</ButtonLink>
  {
    tags &&
      tags.map((tag) => (
        <ButtonLink
          class="whitespace-nowrap ring-1 ring-inset ring-zinc-200 transition-colors duration-75 ease-linear hover:bg-white dark:ring-white/20 dark:hover:bg-white/20"
          link={`/tags/${customSlugify(tag)}`}
        >
          {tag} ({tagCounts[tag] || ""})
        </ButtonLink>
      ))
  }
</nav>
